<div class="row">
    <div class="regresar text-right "><a [routerLink]="['/login']" class="btn btn-warning" >Salir del sistema</a></div>
</div>
<div class="row mainmenu">
    <div class="col-md-4">
        <a [routerLink]="['/rutas']">
          <div class="row rutas ">
            <div class="icon col-md-4">
            </div>
            <div class="name col-md-8">
              Rutas<br/>Curriculares
            </div>
          </div>
        </a>
    </div>
    <div class="col-md-4">
        <a [routerLink]="['/afinidades']">
          <div class="row dtitulacion">
            <div class="icon col-md-4">
            </div>
            <div class=" name col-md-8">
              Doble<br/>Titulación
            </div>
          </div>
        </a>
    </div>
    <div class="col-md-4">
        <a [routerLink]="['/equivalencias']">
          <div class="row dtitulacion">
              <div class="icon col-md-4">
              </div>
              <div class=" name col-md-8">
              Equivalencias
              </div>
          </div>
        </a>

    </div>
</div>
<div class="row mainmenu">
    <div class="col-md-4">
        <a href="https://campus.virtual.unal.edu.co/mod/data/view.php?d=314&rid=1417" target="_blank">
          <div class="row virtual">
            <div class="icon col-md-4">
            </div>
            <div class="name col-md-8">
              Escuela<br />Virtual
            </div>
          </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="https://www.youtube.com/channel/UCbMueewPIQ5U7jrlV_L4WgA/playlists" target="_blank">
          <div class="row virtual">
            <div class="iconyt col-md-4">
            </div>
            <div class="name col-md-8">
              Cursos de<br />Apoyo Académico
            </div>
          </div>
        </a>
    </div>
    <div class="col-md-4">
        <!--<a [routerLink]="['/rutasusuarios']">
          <div class="row rutas ">
            <div class="icon col-md-4">
            </div>
            <div class="name col-md-8">
              Rutas<br/>Curriculares usuarios
            </div>
          </div>
        </a>-->
    </div>
</div>
