<div class="col-md-10 center">
  <H1>Acerca de SAE UN</H1><br />
  <p>
  SAE UN es una herramienta que busca orientar a estudiantes y docentes en la elección de rutas de formación y oportunidades académicas, como doble titulación. Así mismo,  los usuarios encontrarán contenidos de capacitación en temas de asignaturas de alto nivel de pérdida y trámites académico-administrativos.
  </p>
  <br />
  <H2>Política de privacidad</H2>
  <br />
  <p>
    SAE UN usa información almacenada en el dispositivo donde se encuentra instalada. Esta información consiste en:
  </p>
  <br  />
  <ul>
    <li>
      Estado de conexión a internet, puede usar datos del dispositivo.
    </li>
    <li>
      Registro de la consulta de eventos a través de la aplicación.
    </li>
    <li>
      Tokens (identificadores generados para la aplicación móvil, que no corresponden al ID de cada dispositivo) para la funcionalidad de notificaciones.
    </li>

  </ul>
  <br  />

  <p>
    Esta información es recopilada en los servidores de la unversidad, y la información es usada con los siguientes fines:
  </p>
  <ul>
    <li>
      Almacenar información sobre las rutas acádemicas
    </li>
    <li>
      Ofrecer un servicio de “me gusta” con base en las preferencias del usuario.
    </li>
  </ul>
  <br />
  <p>
      En ningún caso se usará la información contenida por SAE UN con fines comerciales que puedan beneficiar a terceros; tampoco se entregará a personas o entidades externas a la Universidad Nacional de Colombia.<br />
      SAE UN no hace uso de los servicios de localización de los dispositivos moviles.
  </p>

  <br  />
  <H2>Propiedad intelectual</H2>
  <br  />
  <p>
    Los contenidos (imágenes, textos y videos) provistos a través de SAE UN pertenecen a la Universidad Nacional de Colombia, de conformidad con el Acuerdo 035 de 2003 del Consejo Académico, “Por el cual se expide el reglamento sobre Propiedad Intelectual en la Universidad Nacional de Colombia”.
  </p>
<hr>
<br />
    <b>Director Nacional de Programas Curriculares de Pregrado:</b> Luis Eduardo Gallego Vega<br />
    <b>Idea conceptual:</b> Luis Eduardo Gallego Vega<br />
    <b>Diseño, desarrollo, implementación y normativa para web:</b> Dirección Nacional de Programas Curriculares de Pregrado<br />
    <b>Ingenieros de desarrollo:</b> Edgar Fernando Vargas Buitrago - Fabián Otálora Orjuela<br />
<br /><br /><br />

Dirección Nacional de Programas Curriculares de Pregrado – DNPPr<br />

<a href="mailto:dirnalpreg_nal@unal.edu.co">dirnalpreg_nal@unal.edu.co</a><br />

PBX: (1) 316 5000 ext. 18047<br />

Universidad Nacional de Colombia<br />
</div>
